@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;600&display=swap");
body {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

.inner, .header {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner, .header {
    width: 345px;
  }
}

.section-title {
  margin-top: 160px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 64px;
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background: #3EA1D1;
}

@media (max-width: 767px) {
  .section-title {
    margin-top: 96px;
    font-size: 30px;
    margin-bottom: 48px;
  }
}

.button a {
  border: #3EA1D1 solid 1px;
  width: 157px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background: #fff;
  color: #3EA1D1;
  display: block;
  margin: 48px auto 0;
  letter-spacing: .1em;
}

.button a:hover {
  background: #3EA1D1;
  color: #fff;
}

@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

header {
  z-index: 100;
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
}

.header {
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header-logo img {
  width: 120px;
}

.header-nav {
  margin-left: auto;
  letter-spacing: .1em;
}

.header-nav ul li {
  float: left;
}

.header-nav ul li:not(:first-child) {
  margin-left: 48px;
}

.header-nav ul li a:hover {
  color: #3EA1D1;
}

@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active .drawer-icon_bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon_bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon_bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-icon_bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon_bar1,
.drawer-icon_bar2,
.drawer-icon_bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #3EA1D1;
  top: 0;
  left: 0;
}

.drawer-icon_bar1 {
  top: 0;
}

.drawer-icon_bar2 {
  top: 8px;
}

.drawer-icon_bar3 {
  top: 16px;
}

.drawer-content {
  background: #3EA1D1;
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content_item a {
  display: block;
  color: #fff;
  padding: 18px 20px;
  position: relative;
}

.drawer-content_item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 11px;
}

.drawer-background {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.main {
  margin-top: 70px;
  height: 660px;
  background: url(../img/top.png) no-repeat right center/contain;
  position: relative;
}

@media (max-width: 767px) {
  .main {
    background: url(../img/sp/top.png) no-repeat center top/contain;
    height: 560px;
    margin-top: 60px;
  }
}

.main-box {
  background: #fff;
  padding: 92px 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 330px;
  height: 330px;
}

@media (max-width: 767px) {
  .main-box {
    top: 414px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 40px 0;
  }
}

.main-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.69231;
}

@media (max-width: 767px) {
  .main-title br {
    display: none;
  }
}

.main-text {
  margin-top: 28px;
  line-height: 1.6875;
}

.concept-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .concept-content {
    display: block;
  }
}

.concept-left {
  width: 50%;
}

@media (max-width: 767px) {
  .concept-left {
    width: 100%;
  }
}

.concept-right {
  width: 50%;
  padding-left: 80px;
  margin: auto 0;
}

@media (max-width: 767px) {
  .concept-right {
    width: 100%;
    padding-left: 0;
    padding-top: 40px;
  }
}

.concept-message1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.7;
}

.concept-message2 {
  margin-top: 48px;
  line-height: 1.6875;
}

@media (max-width: 767px) {
  .concept-message2 {
    margin-top: 32px;
  }
}

.feature-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .feature-items {
    display: block;
  }
}

.feature-item {
  -webkit-box-shadow: 3px 3px 15px #60606029;
          box-shadow: 3px 3px 15px #60606029;
  max-width: 340px;
}

.feature-item a:hover {
  color: #333;
}

.feature-item a:hover img {
  width: 100%;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

@media (max-width: 767px) {
  .feature-item {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .feature-item {
    width: calc(33.3% - 91 * 2 / 3);
  }
  .feature-item:not(:first-child) {
    margin-left: 91px;
  }
}

.feature-img {
  overflow: hidden;
}

.feature-text {
  text-align: center;
  padding: 32px 0;
}

.filter {
  margin-top: 160px;
  background: url(../img/bg.png) no-repeat center center/cover;
  height: 478px;
  color: #fff;
  font-weight: 600;
  position: relative;
}

.filter::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
}

@media (max-width: 767px) {
  .filter {
    background: rgba(0, 0, 0, 0.12) url(../img/sp/bg.png) no-repeat center center/cover;
  }
}

.filter-message {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767px) {
  .filter-message {
    padding: 182px 15px 0;
    left: 0;
  }
}

.filter-message1 {
  font-size: 22px;
  line-height: 1.68182;
}

@media (max-width: 767px) {
  .filter-message1 {
    font-size: 20px;
    line-height: 1.7;
  }
}

.filter-message2 {
  line-height: 1.6875;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .filter-message2 {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.71429;
  }
}

.products-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .products-items {
    display: block;
  }
}

.products-item {
  max-width: 340px;
}

.products-item a:hover {
  color: #333;
}

.products-item a:hover img {
  width: 100%;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

@media (max-width: 767px) {
  .products-item {
    width: 260px;
    margin: 50px auto 0;
  }
}

@media (min-width: 768px) {
  .products-item {
    width: calc(33.3% - 80 * 2 / 3);
  }
  .products-item:not(:first-child) {
    margin-left: 80px;
  }
}

.products-img {
  overflow: hidden;
}

.products-img img {
  width: inherit;
  height: calc(33.3% - 80 * 2 / 3);
}

.products-name {
  padding-top: 24px;
  font-size: 14px;
  line-height: 1.71429;
}

.products-price {
  margin-top: 18px;
  color: #989898;
}

@media (max-width: 767px) {
  .products-price {
    margin-top: 16px;
    font-size: 14px;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid #E0E0E0;
  margin: 0 auto;
}

.news-item:hover {
  color: #333;
}

.news-item:hover img {
  width: 100%;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

@media (max-width: 767px) {
  .news-item {
    display: block;
    width: 310px;
  }
}

.news-img {
  overflow: hidden;
}

@media (min-width: 768px) {
  .news-img {
    width: 260px;
  }
}

@media (max-width: 767px) {
  .news-img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .news-card {
    padding: 25px 0 0 40px;
    width: calc(100% - 260px);
  }
}

@media (max-width: 767px) {
  .news-card {
    width: 100%;
  }
}

.news-date {
  font-size: 14px;
}

@media (max-width: 767px) {
  .news-date {
    margin-top: 24px;
  }
}

.news-text1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.72222;
  margin-top: 16px;
}

.news-text2 {
  color: #888888;
  font-size: 14px;
  line-height: 1.71429;
  margin-top: 24px;
}

.message {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .message {
    display: block;
  }
}

.message-left {
  width: 50%;
  padding-right: 40px;
  margin: auto 0;
}

@media (max-width: 767px) {
  .message-left {
    width: 100%;
    padding-right: 0;
  }
}

.message-message1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.71429;
}

@media (max-width: 767px) {
  .message-message1 {
    margin-top: 40px;
    font-size: 20px;
  }
}

.message-message2 {
  margin-top: 48px;
  line-height: 1.6875;
}

@media (max-width: 767px) {
  .message-message2 {
    margin-top: 32px;
    font-size: 14px;
  }
}

.message-right {
  width: 50%;
}

@media (max-width: 767px) {
  .message-right {
    width: 100%;
  }
}

.contact {
  background: url(../img/contact.png) center center/cover;
  padding: 72px 0 85px;
  text-align: center;
  margin-top: 225px;
}

@media (max-width: 767px) {
  .contact {
    margin-top: 96px;
    padding: 56px 28px;
  }
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 320px;
  border: none;
  font-size: 16px;
  padding: 0.2em 0.5em;
  -webkit-box-shadow: 5px 6px 15px #60606029;
          box-shadow: 5px 6px 15px #60606029;
  border-radius: 2px;
  background: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  color: inherit;
  font-family: inherit;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact input[type="text"],
.contact input[type="email"] {
  height: 40px;
}

.contact textarea {
  min-height: 122px;
  resize: vertical;
}

.contact-title {
  color: #3EA1D1;
  margin-top: 0;
}

.required {
  font-size: 14px;
  letter-spacing: .1em;
}

.required span {
  font-size: 16px;
  color: #E7728E;
}

.contact-form {
  margin: 24px auto 0;
  max-width: 510px;
}

@media (max-width: 767px) {
  .contact-form {
    text-align: left;
  }
}

.contact-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form-row:not(:first-child) {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .contact-form-row {
    display: block;
  }
}

.contact-list {
  display: inline-block;
}

.contact-item-title {
  width: 180px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #3EA1D1B3;
  margin-right: 20px;
  position: relative;
}

.contact-item-title::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 10px;
  border-color: transparent transparent transparent #3EA1D1B3;
}

@media (max-width: 767px) {
  .contact-item-title::after {
    border-width: 0;
  }
}

@media (max-width: 767px) {
  .contact-item-title {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    padding: 0 15px;
    margin-bottom: 3px;
    width: auto;
  }
}

.label-required {
  font-size: 12px;
  color: #E7728E;
  vertical-align: super;
  line-height: 1;
}

.contact-radio-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: solid 1px #fff;
  height: 40px;
  line-height: 40px;
  color: #3EA1D1;
  background: #fff;
  -webkit-box-shadow: 5px 6px 15px #60606029;
          box-shadow: 5px 6px 15px #60606029;
  position: relative;
}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-radio-input:checked + .contact-radio-part {
  background: #3EA1D1;
  color: #fff;
  border-radius: 1px;
}

.contact-radio-input:focus + .contact-radio-part {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact-radio-part {
  display: block;
  color: #3EA1D1;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
  -webkit-transition: background-color .4s ease 0s;
  transition: background-color .4s ease 0s;
}

.contact-footer {
  margin-top: 33px;
  padding: 3px 0;
}

@media (max-width: 767px) {
  .contact-footer {
    margin-top: 14px;
  }
}

.contact-privacy {
  position: relative;
  height: 22px;
  width: 100%;
  display: inline-block;
}

.contact-privacy-link {
  color: #3EA1D1;
  text-decoration: underline;
}

.contact-privacy-part {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 1px solid #3EA1D1;
  background: #fff;
  vertical-align: middle;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy-input:checked + .contact-privacy-part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contact-privacy-input:focus + .contact-privacy-part {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact-privacy-input:checked:focus + .contact-privacy-part {
  outline: none;
}

.util-link {
  border: #3EA1D1 solid 1px;
  width: 157px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background: #fff;
  color: #3EA1D1;
  display: block;
  margin: 51px auto 0;
  font-size: 14px;
}

.util-link.-active {
  color: #fff;
  background: #3EA1D1;
}

@media (max-width: 767px) {
  .util-link {
    margin-top: 29px;
  }
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-message.-error {
  color: #f00;
}

footer {
  padding-top: 48px;
  padding-bottom: 17px;
  background: #F7F7F7;
  text-align: center;
}

@media (max-width: 767px) {
  footer {
    padding-top: 40px;
  }
}

.footer-logo img {
  width: 120px;
}

.footer-link {
  margin-top: 24px;
}

.footer-link a {
  font-size: 12px;
}

.footer-link a:hover {
  opacity: 0.7;
  color: inherit;
}

@media (min-width: 768px) {
  .footer-link a:not(:first-child) {
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .footer-link a {
    display: block;
  }
  .footer-link a:not(:first-child) {
    margin-top: 16px;
  }
}

.footer-sns {
  margin-top: 32px;
}

.footer-sns a {
  color: #3EA1D1;
}

.footer-sns a i {
  font-size: 22px;
}

.footer-sns a:not(:first-child) {
  margin-left: 40px;
}

.footer-sns a:hover {
  opacity: 0.7;
  color: #3EA1D1;
}

.footer-copy {
  color: #888;
  font-size: 12px;
  margin-top: 24px;
}

@media (max-width: 767px) {
  .footer-copy {
    margin-top: 18px;
  }
}
